<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alexvihlayew.espcon">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <receiver android:name="com.alexvihlayew.espcon.Services.WiFiService$WifiReceiver" >
            <intent-filter android:priority="100">
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.alexvihlayew.espcon.Modules.MainActivity"
            android:theme="@style/RootActivityTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.alexvihlayew.espcon.Modules.Auth.AuthTabActivity"
            android:label="@string/title_activity_auth_tab"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.alexvihlayew.espcon.Modules.Main.MainTabActivity"
            android:label="@string/title_activity_main_tab"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>